<%- include("templates/header") %>

<main class="px-3">
    <p>Hello, <%= name %>!<br></p>
    <p class="lead">
        <a onclick="location.href='/members'" class="btn btn-lg btn-light fw-bold border-black bg-white">Go to Member's
            Area</a>
        <a onclick="location.href='/logout'" class="btn btn-lg btn-light fw-bold border-black bg-white">Log Out</a>
    </p>
</main>

<%- include("templates/footer") %>