<%- include("templates/header") %> 
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="/fluffy.gif" alt="Fluffy the cat">
                    <div class="card-body">
                        <p class="card-text">Fluffy the cat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="/cat.gif" alt="Cat">
                    <div class="card-body">
                        <p class="card-text">A random cat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="/socks.gif" alt="Socks the cat">
                    <div class="card-body">
                        <p class="card-text">Socks the cat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>
